<div class="grid-torneo">
  <div class="card-torneo" style="--i:url(./assets/image/tourn3.jpg)">
  </div>

  <div class="card-torneo" style="--i:url(./assets/image/tourn1.jpg)">
    <div class="container p-5">
      <div class="row">
        <div class="col align-items-stretch">
          <h1 style="color:white"><b>1BTC TOURNAMENT</b></h1>
          <div>
            <button type="button" class="btn btn-warning m-3">Unete ahora</button>
            <button type="button" class="btn btn-outline-warning">Leer mas</button>
          </div>
        </div>
        <div class="col">
          <div style=" display: flex; flex-direction: column; align-items: flex-end;">
            <h3 style="color:white"><b>Bolsa de Premios</b></h3>
            <h5 style="color:white"><b>$ 40.000</b></h5>
          </div>
        </div>
      </div>  
    </div>
  </div>

  <div class="card-torneo" style="--i:url(./assets/image/tourn2.jpg)">
    <div class="container p-5">
      <div class="row ">
        <div class="col align-items-stretch">
          <h1 style="color:white"><b>SUMMER IS READY 9000</b></h1>
          <div>
            <button type="button" class="btn btn-warning m-3">Unete ahora</button>
            <button type="button" class="btn btn-outline-warning">Leer mas</button>
          </div>
        </div>
        <div class="col">
          <div style=" display: flex; flex-direction: column; align-items: flex-end;">
            <h3 style="color:white"><b>Bolsa de Premios</b></h3>
            <h5 style="color:white"><b>$ 10.000</b></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

