<header>
    <a href="#" class="brand">
      <p strong>SWARVOSKI</p>
    </a>
    <nav class="menu">
      <div class="btn">
        <i class="fas fa-times close-btn"></i>
      </div>
      <ul>
        <li><a href="#">Casino</a></li>
        <li><a href="#">Vivo</a></li>
        <li><a href="#">Torneos</a></li>
        <li><a href="#">Promociones</a></li>
        <li><a href="#">Soporte</a></li>
      </ul>
    </nav>
    <div class="btn">
      <i class="fas fa-bars menu-btn"></i>
    </div>
</header>