<div class="container-form-contac">
    <h3 class="m-3"><b>Detalles de Contacto</b></h3>
    <div class="m-4">
        <div class="row">
            <div class="col">
                <h4>Telefono:</h4>
            </div>
            <div class="col">
                <h5>3204396627</h5>
            </div>
        </div>
        <div class="row">
            <div class="col" style="width: 300px">
                <h4>Correo Electronico:</h4>
            </div>
            <div class="col">
                <h5>Swarvoski@gmail.com</h5>
            </div>
        </div>
    </div>

    <hr style="color:white; width: 800px"/>


</div>